*.csv
*.dat
*.iml
*.log
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.tgz
*.xml
.DS_Store
.idea
.project
.vscode
.strong-pm
coverage
node_modules
npm-debug.log

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings
**/.sublime-backup/**
**/.history/**
package-lock\.json
**/!deleteme
/server/storage/**/*.*

# System Files
.DS_Store
Thumbs.db
/server/datasources.json
/tp35-core-mixins/**
/tp35-core-models/**
.gitmodules

node_modules/
/node_modules